<div class="filter__value__parameter__container show__container">
    <p-tabView>
        <p-tabPanel header="Valores">
            <ng-container *ngIf="operator !== 'Between' && operator !== 'In' && operator !== 'NotIn'">
                <div
                    class="filter__value__section__input__label"
                    *ngIf="property && property.type === 'string'"
                >
                    <label for="single-value-op-string-field">Valor</label>
                    <input
                        pInputText
                        type="text"
                        id="single-value-op-string-field"
                        class="width__100"
                        [(ngModel)]="value1"
                    />
                </div>

                <div
                    class="filter__value__section__input__label"
                    *ngIf="property && property.type === 'number'"
                >
                    <label for="single-value-op-number-field">Valor</label>
                    <p-inputNumber
                        id="single-value-op-number-field"
                        [useGrouping]="false"
                        [minFractionDigits]="2"
                        [(ngModel)]="value1"
                    ></p-inputNumber>
                </div>

                <div
                    class="filter__value__section__input__label"
                    *ngIf="property && property.type === 'date'"
                >
                    <label for="single-value-op-date-field">Valor</label>
                    <p-calendar
                        dateFormat="dd/mm/yy"
                        id="single-value-op-date-field"
                        [(ngModel)]="value1"
                        (onFocus)="onFocusCalender()"
                        (onClose)="onCloseCalender()"
                    ></p-calendar>
                </div>

                <div
                    class="filter__value__section__input__label"
                    *ngIf="property && property.type === 'boolean'"
                >
                    <label for="single-value-op-boolean-field">Valor</label>
                    <p-dropdown
                        id="single-value-op-boolean-field"
                        optionLabel="label"
                        optionValue="value"
                        [options]="booleanValues"
                        [(ngModel)]="value1"
                    ></p-dropdown>
                </div>
            </ng-container>

            <ng-container *ngIf="operator !== 'Between'; else betweenOperatorInputBlock"></ng-container>
            <ng-container *ngIf="operator !== 'In' && operator != 'NotIn'; else multiValueOperatorsInputBlock"></ng-container>
        </p-tabPanel>

        <p-tabPanel header="Parâmetros">
            <p-button
                label="Novo parâmetro"
                icon="fa-solid fa-plus"
                iconPos="right"
                size="small"
                [outlined]="true"
                (onClick)="showDialog = !showDialog"
            ></p-button>

            <filter-list-parameter></filter-list-parameter>
        </p-tabPanel>
    </p-tabView>

    <section class="filter__add__button__section">
        <p-button label="Adicionar" size="small" (onClick)="onAdd()"></p-button>
    </section>
</div>

<ng-template #betweenOperatorInputBlock>
    <ng-container *ngIf="property && property.type === 'string'">
        <div class="filter__value__section__input__label">
            <label for="between-op-val1-string-field">Valor 1</label>
            <input
                pInputText
                type="text"
                class="width__100"
                id="between-op-val1-string-field"
                [(ngModel)]="value1"
            />
        </div>
        <div class="filter__value__section__input__label">
            <label for="between-op-val2-string-field">Valor 2</label>
            <input
                pInputText
                type="text"
                class="width__100"
                id="between-op-val1-string-field"
                [(ngModel)]="value2"
            />
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'number'">
        <div class="filter__value__section__input__label">
            <label for="between-op-val1-number-field">Valor 1</label>
            <p-inputNumber
                id="between-op-val1-number-field"
                [useGrouping]="false"
                [minFractionDigits]="2"
                [(ngModel)]="value1"
            ></p-inputNumber>
        </div>
        <div class="filter__value__section__input__label">
            <label for="between-op-val2-number-field">Valor 2</label>
            <p-inputNumber
                id="between-op-val2-number-field"
                [useGrouping]="false"
                [minFractionDigits]="2"
                [(ngModel)]="value2"
            ></p-inputNumber>
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'date'">
        <div class="filter__value__section__input__label">
            <label for="between-op-val1-date-field">Valor 1</label>
            <p-calendar
                dateFormat="dd/mm/yy"
                id="between-op-val1-date-field"
                [(ngModel)]="value1"
                (onFocus)="onFocusCalender()"
                (onClose)="onCloseCalender()"
            ></p-calendar>
        </div>
        <div class="filter__value__section__input__label">
            <label for="between-op-val2-date-field">Valor 2</label>
            <p-calendar
                dateFormat="dd/mm/yy"
                id="between-op-val2-date-field"
                [(ngModel)]="value2"
                (onFocus)="onFocusCalender()"
                (onClose)="onCloseCalender()"
            ></p-calendar>
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'boolean'">
        <div class="filter__value__section__input__label">
            <label for="between-op-val1-boolean-field">Valor 1</label>
            <p-dropdown
                id="between-op-val1-boolean-field"
                optionLabel="label"
                optionValue="value"
                [options]="booleanValues"
                [(ngModel)]="value1"
            ></p-dropdown>
        </div>
        <div class="filter__value__section__input__label">
            <label for="between-op-val2-boolean-field">Valor 2</label>
            <p-dropdown
                id="between-op-val2-boolean-field"
                optionLabel="label"
                optionValue="value"
                [options]="booleanValues"
                [(ngModel)]="value2"
            ></p-dropdown>
        </div>
    </ng-container>
</ng-template>

<ng-template #multiValueOperatorsInputBlock>
    <ng-container *ngIf="property && property.type === 'string'">
        <label class="input__with__button__label">Digite um valor</label>
        <div class="input__with__button">
            <input
                pInputText
                type="text"
                class="p-inputtext-sm width__100"
                [(ngModel)]="value1"
            />
            <p-button
                icon="fa-solid fa-plus"
                (onClick)="addValue()"
            ></p-button>
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'number'">
        <label class="input__with__button__label">Digite um valor</label>
        <div class="input__with__button">
            <p-inputNumber
                styleClass="p-inputtext-sm"
                [useGrouping]="false"
                [minFractionDigits]="2"
                [(ngModel)]="value1"
            ></p-inputNumber>
            <p-button
                icon="fa-solid fa-plus"
                (onClick)="addValue()"
            ></p-button>
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'date'">
        <label class="input__with__button__label">Selecione uma data</label>
        <div class="input__with__button">
            <p-calendar
                styleClass="p-inputtext-sm"
                dateFormat="dd/mm/yy"
                [(ngModel)]="value1"
                (onFocus)="onFocusCalender()"
                (onClose)="onCloseCalender()"
            ></p-calendar>
            <p-button
                icon="fa-solid fa-plus"
                (onClick)="addValue()"
            ></p-button>
        </div>
    </ng-container>

    <ng-container *ngIf="property && property.type === 'boolean'">
        <label class="input__with__button__label">Selecione um valor</label>
        <div class="input__with__button">
            <div style="flex: 1;">
                <p-dropdown
                    optionLabel="label"
                    optionValue="value"
                    styleClass="p-inputtext-sm"
                    [options]="booleanValues"
                    [(ngModel)]="value1"
                ></p-dropdown>
            </div>
            <p-button
                icon="fa-solid fa-plus"
                (onClick)="addValue()"
            ></p-button>
        </div>
    </ng-container>

    <div class="container__selected__values">
        <div *ngFor="let item of values" class="selected__value__tag">
            <span>{{ formatShowValue(item) }}</span>
            <span
                class="fa-solid fa-x remove__selected__value__button"
                (click)="removeValue(item)"
            ></span>
        </div>
    </div>
</ng-template>

<filter-create-or-update-parameter-modal
    [showModal]="showDialog"
    (closeModal)="onCloseParameterModal($event)"
></filter-create-or-update-parameter-modal>
